<%- include('header') %>

    <div class="container my-3">
        <!-- <div class="row"> -->
        <div id="signupbox" class="card" style="min-width: 68rem; border-radius: 8px 8px 25px 25px;border: 2px solid rgba(10, 29, 197, 0.979);">
            <div id="passwordform" class="card-header bg-primary text-white ">Edit Password Details.</div>

            <div class="form-group ">
                <form action="/password-detail/edit/<%= record._id %>" id="EmployeeForm" class="form-horizontal my-3 mx-5" method="POST" role="form">
                    <% if(success != ''){ %>
                        <p style="color: green; text-align: center;">
                            <%= success %>
                        </p>
                        <% } %>
                            <label for="username" class=" control-label">Password Category : </label>
                            <div>
                                <select name="pass_cat" class="form-control">
                            <option value="">Choose Password Category</option>
                            <% if(records.length > 0){
                                records.forEach(function(row){ %>
                            <option value="<%= row.password_category %>" <% if(row.password_category == record.password_category){ %> Selected <% } %>> <%= row.password_category %></option>
                            <% }) } %>
                        </select>
                            </div>
            </div>

            <div class="form-group mx-5">
                <label for="username" class=" control-label">Project Name </label>
                <div>
                    <input type="text-box" style="border-radius: 15px;" type="text " class="form-control " name="project_name" placeholder="Enter Your Project Name" , value="<%= record.project_name %>"></textarea>
                </div>
            </div>

            <div class="form-group mx-5">
                <label for="username" class=" control-label">Password Details </label>
                <div>
                    <textarea style="border-radius: 15px;" rows="5" type="text " class="form-control " id="editor" name="pass_details" placeholder="Enter your password Details"><%= record.password_detail %></textarea>
                </div>
            </div>

            <input type="hidden" name="id" value="<%= record._id %>">

            <div>
                <button type="submit" name="submit " value="Update Password" class="btn btn-primary mx-5" style="border-radius: 25px;">Update</button>
            </div>
            <p class="mx-5"><a href="/view-all-password">View all password lists</a></p>

            </form>
        </div>
        <!-- </div> -->
    </div>
    <script>
        CKEDITOR.replace('editor');
    </script>
    <%- include('footer') %>